@use "variables" as *;
@use "mixins";

.about {
  &__content {
    flex-direction: column;

    @include mixins.breakpoint-up(large) {
      flex-direction: row;
    }
  }

  &__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 5rem;
    transition: $ease-250;

    &:hover {
      border-radius: 1rem;
    }

    @include mixins.breakpoint-up(medium) {
      width: 24rem;
      height: 24rem;
    }
  }

  &__intro_container {
    margin-top: 5rem;

    @include mixins.breakpoint-up(large) {
      margin-top: 0;
      margin-left: 7rem;
    }

    @include mixins.breakpoint-up(extra-large) {
      margin-left: 9rem;
    }
  }

  &__intro {
    @include mixins.breakpoint-up(medium) {
      font-size: $fz-md;
    }

    @include mixins.breakpoint-up(extra-large) {
      font-size: $fz-mmd;
    }
  }

  &__skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 3.5rem;
    margin-top: 1rem;
    font-size: $fz-xs;

    @include mixins.breakpoint-up-px(620px) {
      grid-template-columns: repeat(3, 1fr);
      font-size: $fz-sm;
    }

    li {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
    }
  }
}
