@use "variables" as *;
@use "mixins";

.contact {
  &__message {
    margin: 0 auto 5rem;
    text-align: center;

    @include mixins.breakpoint-up(large) {
      max-width: 60rem;
    }
  }

  &__email {
    margin: 0 auto 1.5rem;
  }

  // "Copy Email Address" text button
  &__copy_email {
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
    color: $light-gray;
    transition: $ease-250;

    &:hover,
    &:focus {
      color: $orange;
    }

    .copy-btn-text {
      margin-left: 1.2rem;
      font-size: $fz-xs;
      text-decoration: underline;
    }
  }

  &__info_box {
    width: 16rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0.6rem auto 0;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    color: $white;
    font-size: $fz-xxs;
    font-weight: 500;
    text-align: center;

    &.copy-success {
      background-color: $dark-green;
    }

    &.copy-fail {
      width: 17.5rem;
      background-color: $red;
    }
  }
}
