@use "variables" as *;
@use "mixins";

.project {
  h2 {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    margin-bottom: 4.5rem;
    font-size: $fz-xxs;
    text-align: center;

    @include mixins.breakpoint-up(large) {
      margin-bottom: 6rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 9rem;
    }

    @include mixins.breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 5rem;
    }
  }

  // Display project image at left
  &__image_left_lg {
    @include mixins.breakpoint-up(large) {
      .project__image {
        grid-column: 1 / 7;
      }

      .project__info {
        grid-column: 7 / -1;
      }
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 3rem;

    @include mixins.breakpoint-up(medium) {
      max-width: 50rem;
    }

    @include mixins.breakpoint-up(large) {
      max-width: none;
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 3rem;

    @include mixins.breakpoint-up(large) {
      text-align: left;
    }
  }

  &__description {
    font-size: $fz-xs;

    p {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__tech_list {
    margin: 3.5rem 0;
    display: flex;
    font-size: $fz-xs;
    font-family: $ubuntu-mono;

    :not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__button_group {
    display: flex;
    justify-content: center;

    @include mixins.breakpoint-up(large) {
      justify-content: flex-start;
    }

    .outline-btn {
      margin-top: 0;
      margin-bottom: 0;
      padding: 1rem 1.5rem;
      font-size: $fz-sm;
      font-weight: 500;

      .github-icon {
        margin-right: 1.2rem;
      }
    }

    .github-btn {
      margin-right: 2.5rem;
    }
  }
}
